dvc==3.40.1
dvc-data==3.7.0
dvc-gdrive==3.0.1
dvc-http==2.32.0
dvc-objects==3.0.6
dvc-render==1.0.0
dvc-studio-client==0.18.0
dvc-task==0.3.0
en-core-sci-md @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_core_sci_md-0.5.4.tar.gz
en-core-sci-scibert @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_core_sci_scibert-0.5.4.tar.gz#sha256=be4afaa2710d63206fafa7864001acbfab1225800bbab577f32765435e29b7f2
fire==0.5.0
pandas
PyMuPDF==1.23.25
spacy-streamlit==1.0.6
streamlit==1.36.0
streamlit-extras==0.4.3
streamlit-dimensions==0.0.1
streamlit-image-coordinates==0.1.6

